<div class="home-container">
    <div class="header">
        <h1>Experimental Panca Report System</h1>
        <p class="subtitle">PT. Panca Usaha Sakti</p>
    </div>

    <div class="reports-list">
        @for (report of reports(); track report.route) {
        <a [routerLink]="report.route" class="report-item">
            <div class="report-icon">
                <i class="pi" [ngClass]="report.icon"></i>
            </div>
            <div class="report-info">
                <h3>{{ report.title }}</h3>
                <p>{{ report.description }}</p>
            </div>
            <div class="report-arrow">
                <i class="pi pi-chevron-right"></i>
            </div>
        </a>
        }
    </div>
</div>